.Review {
  padding-top: 40px;
  color: #fff;
}
.portfolio hr {
  display: block;
  width: 250px;
  border: 1px solid #fff;
  margin-bottom: 60px;
}

.Review hr {
  display: block;
  width: 250px;
  border: 1px solid #fff;
  margin-bottom: -20px;
}

.Review p {
  color: white;
  opacity: 0.7 !important;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.Review .carousel {
  height: 300px;
  margin-bottom: 60px;
}

.text-review {
  display: block;
  max-height: 130px;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.fa-star {
  color: #d4af37;
}
