.Services {
  padding-top: 10px;
  color: #000 !important;
  /* font-family: myFirstFont; */
  font-size: 20px;
  font-weight: lighter;
}

.Services hr {
  display: block;
  width: 250px;
  border: 1px solid black;
  margin-bottom: -20px;
}

@media only screen and (max-width: 768px) {
  .Services {
    line-height: 2;
    font-size: 20px;
  }
}
