.wrapper-banner {
  padding: 40px;
}

.wrapper-banner h1 {
  font-family: myFirstFont;
  font-size: 55px;
  margin-bottom: -2px;
}

.monsieur {
  font-family: myFirstFont;
  font-size: 55px;
  margin-bottom: -2px;
  height: 100px;
}

.who {
  padding: 60px !important;
}
.who-title {
  font-size: 28px;
  margin-top: 0px;
}

.logo-me {
  background-color: #fff !important;
  width: 190px;
  height: 190px;
  padding-top: 8px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.logo-me img {
  width: 180px;
}

.img-me img {
  width: 250px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn-contact {
  padding: 8px 24px;
  border-radius: 4px;
  color: #d4af37;
  border: 1px solid #d4af37;
}
.signature {
  font-family: myFirstFont;
  font-size: 18px;
  font-weight: bold;
}
.slick-slide img {
  width: 180px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
}

.footer-copyright {
  background-color: #fff;
  color: black;
  padding: 20px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .wrapper-banner h1 {
    font-size: 40px;
  }
  .who {
    padding: 20px !important;
  }

  .who-title {
    font-size: 28px;
  }

  .monsieur {
    font-size: 32px;
    margin-bottom: -45px;
  }
  .wrapper-banner h5 {
    font-size: 1.5rem;
  }

  .img-me img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  button.slick-arrow.slick-next {
    margin-right: 10px;
  }

  button.slick-arrow.slick-prev {
    margin-left: 10px;
  }
  .footer-copyright {
    font-size: 12px;
  }
}
